<div class="container" style="width: 100%;" id="container">
    
    <ol id="breadcrumb" class="breadcrumb" hidden style="margin-left: 8px;"></ol>
    <div class="row">
        
        <div class="col-xs-6 col-sm-12 col-lg-12">

            <div class="bottom-buffer">
                    <h2>Sistema para generación de API</h2>
                    <hr>
                    <h6>Comunicación con Prometheus para monitoreo de datos de Mongo</h6>
            </div>

        </div>
    </div>
</div>


