a.menu:link,
a.menu:visited {
    color: #7C7C7D;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.menu:hover,
a.menu:active {
    color: #BFC0C1;
    transition: 0.3s;
    border-radius: 5px; 
}

a.name{
border-radius: 8px;
padding: 8px 15px;
background-color: #b71414;
}

a.index:link,
a.index:visited {
    color: #E8EEF4;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.index:hover,
a.index:active {
    color: #DEE4EA;
    background-color: transparent;
    transition: 0.3s;
    border-radius: 5px;
}


a.continueA:link,
a.continueA:visited {
    color: #E8EEF4;
    background-color: #b71414;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    float: right; 
    margin-top: 70px; 
    margin-bottom: -30px;
}

a.continueA:hover,
a.continueA:active {
    color: #E8EEF4;
    background-color: #bc0505;
    transition: 0.3s;
    border-radius: 5px;
    float: right; 
    margin-top: 70px; 
    margin-bottom: -30px;
}

/*Estilo para botón de siguiente*/
a.manual-ref01:link,
a.manual-ref01:visited {
    color: white;
    background-color: #28A745;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    float: right;
    margin-bottom: 30px;
}

a.manual-ref01:hover,
a.manual-ref01:active {
    color: white;
    background-color: #218838;
    transition: 0.3s;
    border-radius: 5px;
    float: right; 
    margin-bottom: 30px;
}

a.material-icons{
    float: right;
    display: inline-block;
}